
<div class="row" class="footer">
    <div class="col-lg-12 text-center footer">
        Martyna i Maciek <script>document.write(new Date().getFullYear())</script> &copy; 
        <%= language.__('Wszelkie prawa zastrzeżone przez: Maciek i Martyna') %>
                    <br>
                    <a href="/login"> <%= language.__('panel administracji') %></a>
    </div>
</div>
</body>
</html>