<!DOCTYPE html>
<html lang="pl">


<head>
 
    <title> <%= header %></title>
  
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
    <script src="https://kit.fontawesome.com/b2ec1cb26d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Della+Respira&family=Epilogue&&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
       
            <script>
                function zmianaCzasu(){
                    const dzisiaj = new Date();
                    const data = new Date("05/20/2023 13:30:00");
                   
                    var dzien = Math.round(Math.abs(data - dzisiaj) / 86400000) -1;
                    var godzina = Math.round(Math.abs(data - dzisiaj) / (1000 * 60 * 60) % 24);
                    var minuta = Math.round(Math.abs(data - dzisiaj) / (1000 * 60) % 60);
                    var sekunda = Math.round(Math.abs(data - dzisiaj) / (1000) % 60);
                    
        
                    document.getElementById("days").innerHTML = dzien;
                    document.getElementById("hours").innerHTML = godzina;
                    document.getElementById("minutes").innerHTML = minuta;
                    document.getElementById("seconds").innerHTML = sekunda;
                   
                    setTimeout("zmianaCzasu()", 1000);
                }
            </script>
       
    
</head>

<body onload="zmianaCzasu()">