body,
html {
    background-color:#313131;
    font-family: 'Montserrat', sans-serif;
}

.container-full {
    width: 100vw;
}

#info {
    background:#313131;
    height: 100vh;
}
#info .logo {
    font-family: 'Della Respira', serif;
    font-size: 55px;
    color: white;
    
}

#info .description {
    font-family: 'Della Respira', serif;
    font-size: 25px;
    color: white;
}

#form {
    background: #F2F4F5;
}

#basic-addon1 {
    border-color: #326647; 
    color: #326647; 
    background: #fff;
}

#form1 a {
    color: black;
    font-size: 18px;
}

.infoDescription {
    font-size: 20px;
}

#form .login {
    font-size: 45px;
    font-weight: 700;
    color:#326647
}

#form .username {
    font-size: 25px;
    font-weight: 700;
    color: black;
}

#form .button {
    width: 100%;
    margin-bottom: 15px;
    font-weight: 700;
    color: white;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
#description,
#descriptionEn,
#important,
#importantEn,
#fact,
#factEn {
    border-color: #326647;
}

#form1 .form-check-label a {
    font-size: 15px;
}

@media (max-width: 992px) {
    #info {
        display: none;
    }
    #form1 {
        padding: 4%;
    }
    body,html {
        background: #F2F4F5;
    }
}

.btn-golden {
    background:   #326647;
    border: 1px solid  #326647;
    
}
#description_r {
    color: #c9c7c7;
    font-size:18px;
}
.description {
    font-size: 20px;
    margin-top: 10px;
    color: #212529;
}
.title {
    font-size: 35px;
    color: lightseagreen;
    font-weight: 700;
}
.title_r {
    font-size: 45px;
    color: goldenrod;
    font-weight: 700;
}
  .info {
    font-size: 18px;
    color: white;
  }
  .btn-green {
    background: #326647;
    border: 1px solid  #326647;
    color: white;
  }
  

  input[type=radio] {
    opacity:0;
        position:absolute;

}
.radio {
    font-size: 19px;
    color: #212529;
}
.radioButton {
    margin-right: 5px;
    width:19px;
    height:19px;
    border-radius: 50%;
    border: 2px solid #326647;
    float: left;
   
}


input:checked + .radioButton {
    background: #326647;
    box-shadow: inset 0 0 0 3px #326647;
}

