body, html {
    font-family: 'Montserrat', sans-serif;
}

#header {
    font-size: 90px;
    color: #326647;
    text-shadow: 3px 3px 5px #626664;
}

.info {
    background: url('./tlo.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.info__header {
    background: rgba(239, 239, 239, 0.5);
    padding: 20px 0;
    color: #474747;
}

.info__header h1 {
    font-size: 32px;
    font-weight: 500;
}

.info__header p {
    font-family: 'Della Respira', serif;
    font-size: 64px;
}

.info__buttons {
    margin-top: 200px;
}

.info__buttons a {
    display: block;
    background: #474747;
    color: #EFEFEF;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3em;
    padding: 10px 50px;
    width: 319px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 70px;
}

.bg-gradient {
    background: #474747;
}

.btn-golden {
    background:   #326647;
    border: 1px solid  #326647;
    
}

#mainNav .nav-link {
    text-transform: uppercase;
    
}

.logo {
    font-weight: 100;
}

#mainNav .nav-link:hover {
    
    color:white;
    border-bottom: 3px solid white;
}

#mainNav .nav-link.active {
    color: white;
    border-bottom: 3px solid white;
}

.subpage-title {
    font-size: 40px;
    font-weight: 700;
}

.baner {
    background: #326647;
    padding: 20px;
}

.baner p {
    color: white;
    font-size: 20px;
}

.date {
    padding: 76px 10px;
    background: #313131;
    text-align: center;
    font-family: 'Della Respira', serif;
    color: #EFEFEF;
}

.date div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    margin: 0 auto;
}

.date .month,
.date .dayOfWeek,
.date .hour,
.date .year {
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
}

.date .dayOfWeek,
.date .hour {
    min-width: 235px;
    border-top: 3px solid #EFEFEF;
    border-bottom: 3px solid #EFEFEF;
}

.date .day {
    font-weight: 500;
    font-size: 128px; 
}
.important_infos {
    padding: 0 15px;
}
.important_infos div {
    margin-top: 92px;
}

.important_infos h1 {
    font-size: 43px;
    font-weight: 800;
    margin-top: 92px;
}

.important_infos div h2 {
    font-size: 36px;
    font-weight: 600;
}

.important_infos div p {
    font-size: 32px;
    font-weight: 400;
}

.gifts {
    text-align: center;
    background: #313131;
    padding: 139px 90px;
    font-size: 36px;
    color: #EFEFEF;
    margin-top: 95px;
}

.soon {
    margin-top: 75px;
}
.soon h2 {
    font-size: 32px;
    font-weight: 700;
    color: #474747;
}

.soon p {
    font-size: 20px;
}

.footer {
    font-size: 15px;
    font-family: 'Epilogue', sans-serif;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer {
    background: #474747;
    padding-top: 44px;
    padding-bottom: 27px;
}

.btn-green {
    background: #326647;
    border: 1px solid  #326647;
    color: white;
}

.card-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.infosh2 {
    font-size: 35px;
   
}

.infoDescription {
    font-size: 20px;
}

.card-body .description {
    font-size: 20px;
}

#countdown {
    background: #474747;
    padding: 34px 70px;
    color: #EFEFEF;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    letter-spacing: 0.1em;
}



#countdown h3 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-block-end: 0px;
}

#countdown #zegar span {
    font-size: 48px;
    font-weight: 800px;
    margin-right: 14px;
    margin-left: 32px;
}

#countdown #zegar {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.other {
    padding: 0 10px;
}

.zoom {
    margin-top: 120px;
}

.zoom p {
    font-size: 40px;
    font-weight: 500;
}

.zoom__id,
.zoom__password {
    font-size: 36px;
}

.questions {
    margin-top: 65px;
}

.questions p {
    font-size: 32px;
    text-transform: uppercase;
}

.confirm {
    margin-top: 75px;
    
}

.confirm p {
    font-size: 32px;
    margin: 0 auto;
}

.btn-grey {
    background: #313131;
    padding: 10px 50px;
    font-size: 24px;
    font-weight: 600;
    color: #EFEFEF;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.btn-grey:hover {
    color: #EFEFEF;
    text-decoration: none;
    background: #626664;
}

@media (max-width: 576px) {
    .info {
        background: url('./przytulas.jpg');
        background-size: 100vh;
        background-position: center;
    }

    .info__buttons {
        display: block;
        padding: 0 15px;   
    }
    .info__buttons a {
        display: block;
        font-size: 18px;
        text-align: center;
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
        white-space: normal;
        word-wrap: break-word;
    }
    
    #countdown,
    #countdown span {
        display: block;
        text-align: center;
    }

    .date {
        padding: 46px 0;
    }
    
    .date div {
        gap: 17px;
    }
    
    .date .month,
    .date .dayOfWeek,
    .date .hour,
    .date .year {
        font-size: 28px;
    }
    
    .date .day {
        font-size: 58px; 
    }

    .important_infos h1 {
        font-size: 43px;
    }
    
    .important_infos div h2 {
        font-size: 30px;
    }
    
    .important_infos div p {
        font-size: 26px;
    }
    
    .gifts {
        padding: 139px 15px;
        font-size: 30px;
    }

    .zoom p {
        font-size: 34px;
    }
    
    .zoom__id,
    .zoom__password {
        font-size: 30px;
    }
    
    .questions p {
        font-size: 26px;
    }
    
    .confirm p {
        font-size: 26px;
    }

    .btn-grey {
        font-size: 18px;
    }
}