<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-12" style="margin-top: 4%">
            <div id="form1">
                <a href="/">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony głównej
                </a>
                <h1 class="login">Potwierdź uczestnictwo</h1>
                <p class="description">
                  Ankieta dla tych, którzy otrzymali papierowe zaproszenie. Jeśli go nie dostałeś, nie musisz jej wypełniać.
              </p>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                <form action="/guests" method="post" id>
                
                    <label for="username" class="username">
                        Wasze imiona
                        
                    </label>
                    
                    <input type="text" class="form-control" name="name" id="username" placeholder="Tu wpiszcie swoje imiona i nazwiska" aria-label="Hasło" aria-describedby="basic-addon1">
                    <br>
                    <label for="password" class="username">
                        Uczestnictwo w obiedzie
                        
                    </label>
                    <br>
                    <label class="radio">
                        <input type="radio" name="isHere" value="yes">
                        <div class="radioButton"></div>
                        <p>Tak, postaramy się być</p>
                    </label>
                    <br>
                    <label class="radio">
                        <input type="radio" name="isHere" value="no">
                        <div class="radioButton"></div>
                        <p>Nie, nie możemy być osobiście</p>
                    </label>
                    <br>
                    <label for="password" class="username">
                        Czy potrzebujecie noclegu?
                        
                    </label>
                    <br>
                    <label class="radio">
                        <input type="radio" name="room" value="yes">
                        <div class="radioButton"></div>
                        <p class="answer">Tak, potrzebujemy</p>
                    </label>
                    <br>
                    <label class="radio">
                        <input type="radio" name="room" value="no">
                        <div class="radioButton"></div>
                        <p class="answer">Nie potrzebujemy/załatwimy sobie sami</p>
                    </label>
                    <br>
                    
                    <label for="password" class="username">
                        Uwagi lub pytania
                        
                    </label>
                    <textarea name="comments" id="fact" placeholder="Tutaj wpisz uwagi lub pytania" class="form-control"></textarea>
                    <br>
                    <input type="submit" value="Wyślij" class="btn btn-success button btn-golden">
                   
                </form>
                
            </div>
           
        </div>
        
    </div>
</div>

</body>
</html>